@{
    ViewData["Title"] = "Student Portal";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This is not yet a good website. The design will be components first before home page</p>
</div>
